/* login form */
#avatar
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin:auto;
    margin-bottom: 50px;
}

.card .main
{
    margin: auto;
}

.main
{
    width: 45%;
    margin-top: 50px;
}

/* Contenu page */
.main_content
{
    width: 65%;
    margin: auto;
    margin-top: 50px;
}

/* Contenu des panneaux latéraux */
.side_content img
{
    margin-top : 70px;
}

.card
{
    width: 100%;
    padding: 15px;
    background-color: lightgray;
}

.form-control, #btn-submit
{
    border-radius: 0%;
}